### Scala template
*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### Angular template
## Angular ##
# compiled output
dist/
tmp/
app/**/*.js
app/**/*.js.map

# dependencies
node_modules/
bower_components/

# IDEs and editors
.idea/
.vscode/
.metals/

# misc
.sass-cache/
connect.lock/
coverage/
libpeerconnection.log/
npm-debug.log
testem.log
typings/
.angular/

# e2e
e2e/*.js
e2e/*.map

# System Files
.DS_Store/
backend/project/.bloop/
backend/project/project/.bloop/*
backend/project/project/.bloop/backend-build-build.json
backend/project/metals.sbt
backend/project/.bloop/backend-build.json
